body {
  height: 100vh;
}
.cds {
  display: flex;
}
.circle {
  --value: 75;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#5e8ed5 calc(var(--value) * 1%), #212529 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
